.row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .contact {
    padding-left: 200px;
    padding-top:80px;
    padding-bottom: 150px;
}

.contact h2 {
    text-align: start;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    margin: 5px 0px;
}

.contact p {
    text-align: start;
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
    width: 400px;
    color: #000000;
}

.middlepart {
    margin-top: 60px;
}

.contact h3 {
    font-size: 20px;
    margin-top: 10px;
    line-height: 24px;
}

.contact span {
    font-weight: 700;
}

.btn5 {
    width: 170px;
    height: 55px;
    background-color: #FDC212;
    border: none;
    border-radius: 50px;
    margin-top: 70px;
    font-size: 24px;
    text-align: center;
    font-weight: 600;
}